<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Numero Tarjeta</th>
        <th scope="col">CCV</th>
        <th scope="col">Tipo</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let tarjeta of tarjetas">
        <td>{{tarjeta.numeroTarjeta}}</td>
        <td>{{tarjeta.ccv}}</td>
        <td>{{tarjeta.tipo}}</td>
        <td><button (click)="verConsumo(tarjeta.numeroTarjeta)">Ver Consumo</button></td>
      </tr>
    </tbody>
  </table>