<table *ngIf="asesores" class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Nombre</th>
        <th scope="col">Especialidad</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let asesor of asesores">
        <td>
          <input class="form-control" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="asesor.nombre">
        <td>
            <input class="form-control" type="text" placeholder="Especialidad" name="especialidad" [(ngModel)]="asesor.especialidad">
        </td>
        <td><button (click)="guardarAsesor(asesor)">Guardar</button></td>
        <td><button (click)="eliminarAsesor(asesor.id)">Eliminar</button></td>
      </tr>
      <td>
          <input class="form-control" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="nuevoAsesor.nombre">
        <td>
            <input class="form-control" type="text" placeholder="Especialidad" name="especialidad" [(ngModel)]="nuevoAsesor.especialidad">
        </td>
        <td><button (click)="guardarAsesor()">Guardar Nuevo</button></td>
    </tbody>
  </table>