<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Numero Tarjeta</th>
        <th scope="col">Fecha</th>
        <th scope="col">Monto</th>
        <th scope="col">Descripcion</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let consumo of consumos">
        <td>{{consumo.numeroTarjeta}}</td>
        <td>{{consumo.fecha}}</td>
        <td>{{consumo.monto}}</td>
        <td>{{consumo.descripcion}}</td>
      </tr>
    </tbody>
  </table>
  