<div *ngIf="cliente" class="form">
  <div class="form-group row">
    <label class="col-2 col-form-label">Nombre</label>
    <div class="col-4">
      <input class="form-control" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="cliente.nombre">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Direccion</label>
    <div class="col-4">
      <input class="form-control" type="text" placeholder="Direccion" name="direccion" [(ngModel)]="cliente.direccion">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Ciudad</label>
    <div class="col-4">
      <input class="form-control" type="text" placeholder="Ciudad" name="ciudad" [(ngModel)]="cliente.ciudad">
    </div>
  </div>
  <div class="form-group row">
    <label class="col-2 col-form-label">Telefono</label>
    <div class="col-4">
      <input class="form-control" type="text" placeholder="Telefono" name="telefono" [(ngModel)]="cliente.telefono">
    </div>
  </div>
  <app-tarjeta [idCliente]="cliente.idCliente"></app-tarjeta>
  <div class="form-group row">
    <button (click)="guardarCliente()">Guardar</button>
  </div>
</div>