<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">nombre</th>
      <th scope="col">direccion</th>
      <th scope="col">ciudad</th>
      <th scope="col">telefono</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let cliente of clientes">
      <td>{{cliente.nombre}}</td>
      <td>{{cliente.direccion}}</td>
      <td>{{cliente.ciudad}}</td>
      <td>{{cliente.telefono}}</td>
      <td><button (click)="verCLiente(cliente.idCliente)">Ver</button></td>
      <td><button (click)="eliminarCliente(cliente.idCliente)">Eliminar</button></td>
    </tr>
    <tr>
      <td><input class="form-control" type="text" placeholder="Nombre" name="nombre" [(ngModel)]="clienteNuevo.nombre"></td>
      <td><input class="form-control" type="text" placeholder="Direccion" name="direccion" [(ngModel)]="clienteNuevo.direccion"></td>
      <td><input class="form-control" type="text" placeholder="Ciudad" name="ciudad" [(ngModel)]="clienteNuevo.ciudad"></td>
      <td><input class="form-control" type="text" placeholder="Telefono" name="telefono" [(ngModel)]="clienteNuevo.telefono"></td>
      <td><button (click)="guardarNuevoCliente()">Guardar</button></td>
    </tr>
  </tbody>
</table>